.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 50px;
    gap: 10px;
    


}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.order-container {

    background-color: lightcyan;
    border-radius: 30px;


}

.random {
    width: 60%;
    padding: 10px;
    color: whitesmoke;
    border-radius: 10px;
    background-color: steelblue;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

.clear {
    width: 60%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: cadetblue;
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;

}



@media screen and (max-width: 688px) {
    .product-container {
        display: flex;
        flex-direction: column;


    }

    .shop-container {
        display: flex;
        flex-direction: column;

    }
}