.flower-container {
    margin-bottom: 20px;
    border: 2px solid gainsboro;
    border-radius: 20px;
    background-color: azure;
}

.add-cart {
    width: 100%;
    padding: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-btn-txt {
    padding-right: 3px;
}